
body {
    margin: 0;
    text-align: center;
    color: black;
    font-family: 'Overpass', sans-serif;
}

img {
    width: 300px;
    height: 300px;
}

/* HERO STUFF */

#hero {
    color: white;
    margin: 0px;
    background-image: url("/images/forrest.jpg");
    background-size: cover;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    #hero {
        height: 100vh;
    }
}


#hero-title {
    background-color: #1D3557;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0;
}

#hero-sub-title {
   background-color: #457B9D;
   padding: 5px 10px;
   border-radius: 5px;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}





/* CARD SUFF */

.card-container {
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
}

@media (max-width: 600px) {
    .card-container {
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.activities {
    background-color: #264653;
    padding: 25px 5% 50px 5%;
    color: white;
    text-shadow: 0 0 1pc black;

}

.card-one, .card-two, .card-three {
    
}

.card-img {
    border-radius: 50%;
    transition: 0.3s;
}

.card-img:hover {
    transform: scale(120%);
    cursor: pointer;
}

.card-title {
    font-style: bold;
    font-size: 20px;
}

.card-text {
    font-weight: 100;
}

#activities-title {
    font-size: 36px;
}







.guide-container {
    min-height: 300px;
    max-width: 50%;
    display: flex;
    align-items: center;
    margin: 10% auto;
    background-color: #2a9d8f;
    border-radius: 10px;
    border-bottom: 10px solid #e76f51;
}

@media (max-width: 600px) {
    .guide-container {
        max-width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
}



.guide-img {
    border-radius: 25px 15px 15px 15px;
    width: 150px;
    height: 200px;
    padding-left: 15px;
    object-fit: cover;
    

    margin: 20px 0 0 0;
}

@media (max-width: 600px) {
    .guide-img {
        padding: 0px;
        border-radius: 5px;
        
    }
}

.guide-info {
    width: 75%;
    padding: 0 25px;
    margin: -5px auto;
}

.guide-text {
    font-weight: 100;
}



.footer {
    background-image: url(/images/victor-larracuente-941LuRQX3Go-unsplash.jpg);
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-text {
    background-color: #1D3557;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0;
    color: white;
    font-size: 24px;
}